{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Discord" : {
          "WebhookURL": "PUT YOUR WEBHOOK URL HERE",
          "HostURL": "The URL you used for the WEBUI"
  }
}
